<div class="card h-100 d-flex flex-column justify-content-start align-items-center py-4 px-3 rounded-4 shadow-sm gap-2" [ngClass]="{
  'border border-2': isActive(),
  'border-warning': isActive() && (stat()?.color?.includes('warning') || false),
  'border-success': isActive() && (stat()?.color?.includes('success') || false),
  'border-danger': isActive() && (stat()?.color?.includes('danger') || false),
  'border-primary': isActive() && (stat()?.color?.includes('primary') || false)
}">
  
  <div class="rounded-4 d-flex align-items-center justify-content-center flex-shrink-0" 
       style="width: 50px; height: 50px;"
       [ngClass]="stat()?.bgClass || 'bg-light'">
       
    <i class="bi fs-2" [ngClass]="[stat()?.icon || '', stat()?.color || '']"></i>
  </div>

  <span class="fs-1 fw-bold">{{ stat()?.stadistics }}</span>
  
  <span class="opacity-75 text-center">{{ stat()?.nombreMostrar || stat()?.label}}</span>

</div>