
<div class="card d-flex justify-content-center align-items-center py-4 px-5 rounded-4 shadow-sm gap-2" [ngClass]="{
       'border border-2': isActive(),
       'border-warning': isActive() && stat()?.label === 'Pendiente',
       'border-success': isActive() && stat()?.label === 'Revisado_Mantenido',
       'border-danger': isActive() && stat()?.label === 'Revisado_Retirado'
     }">
 
@if(stat()?.label=='Pendiente'){
<div class="bg-warning-subtle rounded-4 d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
    <i class="bi fs-2" [ngClass]="[stat()?.icon, stat()?.color]"></i>
</div>  
}
@if(stat()?.label=='Revisado_Mantenido'){
<div class="bg-success-subtle rounded-4 d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
    <i class="bi fs-2" [ngClass]="[stat()?.icon, stat()?.color]"></i>
</div>  
}
@if(stat()?.label=='Revisado_Retirado'){
<div class="bg-danger-subtle rounded-4 d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
    <i class="bi fs-2" [ngClass]="[stat()?.icon, stat()?.color]"></i>
</div>  
}

<span class="fs-1 fw-bold">{{stat()?.stadistics}}</span>
@if(stat()?.label=='Pendiente'){
    <span class="opacity-75">Pendientes</span>
}
@if(stat()?.label=='Revisado_Mantenido'){
    <span class="opacity-75">Aceptados</span>
}
@if(stat()?.label=='Revisado_Retirado'){
    <span class="opacity-75">Retirados</span>
}

 
</div>