.ui-button {
  width: 100%;
  min-height: var(--brick-control-height-md);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  padding: 0 24px;

  border: none;
  border-radius: var(--brick-radius-xl);

  background: var(--brick-color-brand);
  color: var(--brick-color-black);

  font-size: var(--brick-font-size-xl);
  font-weight: 700;
  line-height: 1;

  cursor: pointer;

  transition: all .2s ease;

  &--primary {
    background: var(--brick-color-brand);
    color: var(--brick-color-black);
  }

  &--secondary {
    background: transparent;
    border: 1px solid var(--brick-color-white-42);
    color: var(--brick-color-white);
  }

  &--sm {
    min-height: var(--brick-control-height-sm);
    padding: 0 16px;
    font-size: var(--brick-font-size-md);
  }

  &--md {
    min-height: var(--brick-control-height-md);
    padding: 0 24px;
    font-size: var(--brick-font-size-xl);
  }

  &--lg {
    min-height: var(--brick-control-height-lg);
    padding: 0 28px;
    font-size: var(--brick-font-size-2xl);
  }

  &:hover:not(:disabled) {
    transform: translateY(-1px);
  }

  &--secondary:hover:not(:disabled) {
    background: var(--brick-color-white-12);
    border-color: var(--brick-color-white-70);
  }

  &:active:not(:disabled) {
    transform: scale(.98);
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &__icon {
    flex-shrink: 0;
  }
}
