.pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 30px;
  padding: 0 16px;

  border: 1px solid var(--brick-color-border-muted);
  border-radius: var(--brick-radius-pill);

  color: var(--brick-color-muted);
  background: var(--brick-color-white);
  font-size: var(--brick-font-size-md);
  font-weight: var(--brick-font-weight-l);
  line-height: 1;

  cursor: pointer;
  user-select: none;
  text-decoration: none;

  transition: all .2s ease;
}

.active-pill {
  background-color: var(--brick-color-text);
  border-color: var(--brick-color-text);
  color: var(--brick-color-white);
}
