.animate-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.animate-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--brick-shadow-bootstrap-card) !important;
}

.fw-extrabold {
  font-weight: 800;
}