.x-small {
  font-size: var(--brick-font-size-helper);
}

.form-range::-webkit-slider-thumb {
  background-color: var(--brick-color-brand-soft);
}

.form-range::-moz-range-thumb {
  background-color: var(--brick-color-brand-soft);
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow: var(--brick-shadow-focus-brand-ring);
}
