<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold text-warning" routerLink="/catalog">
            BrickSwap
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="navbar-nav align-items-center gap-2">
                <a class="nav-link" routerLink="/catalog" routerLinkActive="active">
                    Catálogo
                </a>
                <a class="btn btn-danger btn-sm text-white px-3" routerLink="/sell-article" routerLinkActive="btn-dark">
                  + ¡Vende tu set de Lego!  
                </a>
            </div>
        </div>
    </div>
</nav>