<section class="message-actions" [attr.aria-label]="text.actionsAria">
  <button
    class="message-actions__button message-actions__button--price"
    type="button"
    *ngIf="showPrice"
    (click)="selectAction(action.PRICE)"
  >
    <span aria-hidden="true">$</span>
    {{ text.proposePrice }}
  </button>

  <button
    class="message-actions__button message-actions__button--delivery"
    type="button"
    *ngIf="showDelivery"
    (click)="selectAction(action.DELIVERY)"
  >
    <span aria-hidden="true">[]</span>
    {{ text.proposeDelivery }}
  </button>

  <button
    class="message-actions__button message-actions__button--buy"
    type="button"
    *ngIf="showBuy"
    (click)="selectAction(action.BUY)"
  >
    <span aria-hidden="true">o</span>
    {{ text.buy }}
  </button>
</section>
