@if (estado() === 'Pendiente') {
  <app-action-modal
    [title]="modalTitle"
    [details]="reportDetails"
    [textareaLabel]="decisionLabel"
    [textareaPlaceholder]="decisionPlaceholder"
    [requiredError]="requiredError"
    [submitLabel]="approveLabel"
    submitVariant="primary"
    [secondarySubmitLabel]="retireLabel"
    secondarySubmitVariant="danger"
    [showCancelButton]="false"
    [cancelLabel]="closeLabel"
    (canceled)="cerrarModal()"
    (submitted)="resolver('aprobar', $event)"
    (secondarySubmitted)="resolver('retirar', $event)"
  />
} @else {
  <app-action-modal
    [title]="modalTitle"
    [details]="resolutionDetails"
    fieldType="none"
    textareaLabel="Reporte revisado"
    [submitLabel]="closeLabel"
    [showCancelButton]="false"
    [cancelLabel]="closeLabel"
    (canceled)="cerrarModal()"
    (submitted)="cerrarModal()"
  />
}
