<section class="container">
    <app-title size="medium" text="Panel de Administración"></app-title> 
    <app-descriptions format="label" text="Hola Administrador, gestiona todos los aspectos del sistema."></app-descriptions>
    <div class="row row-cols-1 row-cols-lg-5 g-4 mt-4">
      @for(stadistic of totalStadistics(); track $index){
        <div class="col">
          <app-card-panel class="w-100 d-block h-100" [stat]="stadistic"></app-card-panel>
        </div>
      }
    </div>
    <app-title size="small" text="Gestión"></app-title>

  <section class="row">
    @for (card of adminCards; track card.id) {
      <article class="col-12 col-md-6 col-lg-4 mb-4">
        <app-admin-panel-card
          [card]="card"
          [isActive]="activeSection() === card.id"
          (cardSelected)="seleccionarCard($event)"
        ></app-admin-panel-card>
      </article>
    }
  </section>

  @if (activeSection() === 'users') {
    <section class="mt-4">
      <app-table [typeTable]="'usuarios'" [data]="users()"></app-table>
    </section>
  }

  @if (activeSection() === 'categories') {
    <section class="mt-4">

      @if (isLoading()) {
        <p>Cargando categorías...</p>
      } @else {
        <div class="card shadow-sm rounded-4 overflow-hidden">
          <div class="list-group list-group-flush">
            @for (category of categories(); track category.id) {
              <div class="list-group-item p-3 px-4">
                <div class="row align-items-center">
                  <div class="col-md-2 fw-bold">#{{ category.id }}</div>
                  <div class="col-md-4 fw-semibold">{{ category.name }}</div>
                  <div class="col-md-6 text-secondary">{{ category.description }}</div>
                </div>
              </div>
            } @empty {
              <div class="list-group-item p-4 text-secondary">
                No hay categorías disponibles.
              </div>
            }
          </div>
        </div>
      }
    </section>
  }

</section>

