<section class="container">
    <app-title size="medium" text="Panel de Administración"></app-title> 
    <app-descriptions format="label" text="Hola Administrador, gestiona todos los aspectos del sistema."></app-descriptions>
    <div class="row row-cols-1 row-cols-lg-5 g-4 mt-4">
      @for(stadistic of totalStadistics(); track $index){
        <div class="col">
          <app-card-panel class="w-100 d-block h-100" [stat]="stadistic"></app-card-panel>
        </div>
      }
    </div>
    

  <section class="row py-4">
    <app-title class="py-4" size="small" text="Gestión"></app-title>
    @for (card of adminCards; track card.id) {
      <article class="col-12 col-md-6 col-lg-4 mb-4">
        <app-admin-panel-card
          [card]="card"
          [isActive]="activeSection() === card.id"
          (cardSelected)="seleccionarCard($event)"
        ></app-admin-panel-card>
      </article>
    }
  </section>

  @if (activeSection() === 'users') {
    <section class="mt-4" #userListSection>
      <app-table [typeTable]="'usuarios'" [data]="users()" (actionClick)="toogleState($event)" (roleChange)="cambiarRolUsuario($event)"></app-table>
    </section>
  }
</section>