<div class="carrousel">
  <button
    type="button"
    class="carrousel__control"
    aria-label="Anterior"
    (click)="scrollBy(-1)"
  >
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="m15 18-6-6 6-6" />
    </svg>
  </button>

  <div
    #track
    class="carrousel__track"
  >
    @if (isLoading()) {
      @for (item of [].constructor(skeletonItems()); track $index) {
        <article
          class="carrousel__skeleton"
          [class.carrousel__skeleton--product]="skeletonVariant() === 'product'"
          aria-hidden="true"
        >
          <span class="carrousel__skeleton-icon"></span>
          <span class="carrousel__skeleton-text"></span>
          @if (skeletonVariant() === 'product') {
            <span class="carrousel__skeleton-price"></span>
            <span class="carrousel__skeleton-meta"></span>
          }
        </article>
      }
    } @else {
      <ng-content></ng-content>
    }
  </div>

  <button
    type="button"
    class="carrousel__control"
    aria-label="Siguiente"
    (click)="scrollBy(1)"
  >
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="m9 18 6-6-6-6" />
    </svg>
  </button>
</div>
